:root{
    --primary-color: #14120B;
    --secondary-color: #1D1B15;
    --accent: #f54e00;
    --text-color: #edecec;
    --text-hover-color: rgba(237, 236, 236, 0.75 );
}

@font-face{
    font-family: "Geist Sans";
    src: url("assets/fonts/geist-sans-latin-400-normal.ttf") format("truetype");
    font-weight: 400;
}


*{
    box-sizing: border-box;
    margin: 0;
}

.site-icon svg{
    color: var(--text-color);
    vertical-align: middle;
}

body{
    background-color: var(--primary-color);
}

header{
    background-color: var(--primary-color);
    padding: 10px 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 5.5px; */
    max-width: 1300px;
    margin: 0 auto;
}

.site-icon svg{
    width: 96px;
}

nav ul{
    padding: 5.6px 15px;
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
}

nav ul li a{
    font-family: "Geist Sans";
    font-weight: 400;
    color: var(--text-color);
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--text-hover-color);
}

header .CTA-wrapper{
    display: flex;
    gap: 7.5px;
}

header .CTA-wrapper a{

    background-color: transparent;
    border: 1px solid rgba(237, 236, 236, 0.2);
    border-radius: 3.40282e38px;
    padding: 5.6px 10.5px 5.88px 10.5px;
            font-family: "Geist Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;  
    color: var(--text-color);
        text-decoration: none;

}


header .CTA-wrapper a:last-child{
    background-color: var(--text-color);
        color: var(--primary-color);
}

section{
    padding: 0 20px;
}

section>.container{
    max-width: 1300px;
    margin: 0 auto;
}

footer>.container{
    max-width: 1300px;
    margin: 0 auto;
}

section.hero{
    padding-top: 112px;
    padding-bottom: 67px;
}


section.hero .header-wrapper{
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    gap: 22.4px;
}

section.hero .header-wrapper h1{
    /* margin-bottom: 22.4px; */
    font-family: "Geist Sans";
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: var(--text-color);
}

section.hero .header-wrapper a{
    width: fit-content;
    border: 1px solid rgba(237, 236, 236, 0.2);
    border-radius: 3.40282e38px;
    padding: 12.5px 21.6px 12.8px 21.6px;
            font-family: "Geist Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;  

        text-decoration: none;
        background-color: var(--text-color);
        color: var(--primary-color);

}

section.hero img{
    width: 100%;
    border-radius: 10px;
}

section.trusted-by{
    padding-bottom: 33.6px;
}


section.trusted-by h2{
    text-align: center;
    margin-bottom: 22.4px;
                font-family: "Geist Sans";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-color);
}

section.trusted-by .trusted-container{
    display: flex;
    gap: 12px;
}

section.trusted-by .trusted-container>div{
    height: 6.25rem;
    border-radius: 4px;
    background-color: #1D1B15;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 11.25px;
}

section.trusted-by .trusted-container img{
    vertical-align: middle;
    height: 2.5rem;
    max-width: 100%;
}

section.features-section{
    padding-top: 67.2px;
    padding-bottom: 67.2px;
}

section.features-section>.container{
    

}

section.features-section>.container .wrapper, section.join-us>.container .wrapper{
    display: flex;
    gap: 50px;
        background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 26.25px;
}

section.features-section>.container .text, section.join-us>.container .text{
    flex: 1 1 30%;
    padding-left: 3.75px;
}

section.features-section>.container .img-wrapper, section.join-us>.container .img-wrapper{
    flex: 1 1 70%;
}

section.features-section>.container .text, section.join-us>.container .text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

section.features-section>.container .img-wrapper.feature img, section.join-us>.container .img-wrapper.feature img{
    width: 100%;
    border-radius: 8px;
}

section.features-section>.container h3, section.features-section>.container div.text-para, section.join-us>.container div.text-para{
    font-family: "Geist Sans";
    font-weight: 400;
    font-size: 33px;
    line-height: 43px;
    color: var(--text-color);
}

 section.features-section>.container div.text-para, section.join-us>.container div.text-para{
    color: rgba(237,236,236,0.6);
    margin-bottom: 15px;
 }


 
 section.features-section>.container span:last-child, section.join-us>.container span:last-child{

    color: var(--accent);
        font-family: "Geist Sans";
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
 }


 section.features-section>.container .wrapper.second{
    flex-direction: row-reverse;
}


section.features-section>.container .wrapper.second{
    margin-top: 100px;
    margin-bottom: 100px;
}


section.testimonial{
    padding: 100px 30px;
}

section.testimonial>.container{
    display: flex;
    flex-direction: column;
    gap: 84px;
}


section.testimonial>.container .grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 12px;
    row-gap: 12px;
}

.testimonial h2{
    text-align: center;
    color: var(--text-color);
    font-size: 54px;
    line-height: 65px;
            font-family: "Geist Sans";
    font-weight: 400;
}


.testimonial .grid-wrapper .card {
    padding-top: 23.85px;
    padding-bottom: 26.25px;
    padding-left: 26.25px;
    padding-right: 26.25px;
    background-color: var(--secondary-color);
    min-height: 180px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}


.testimonial .grid-wrapper p.text {
    color: var(--text-color);
    font-family: "Geist Sans";
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}



.testimonial .grid-wrapper .info {
    display: flex;
    gap: 19.2px;
}

.testimonial .grid-wrapper img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.testimonial .grid-wrapper .data-wrapper{
    display: flex;
    flex-direction: column;

}

.testimonial .grid-wrapper .data-wrapper span:first-child{
    color: var(--text-color);
    font-size: 21px;
    line-height: 32px;
        font-family: "Geist Sans";
    font-weight: 400;
}

.testimonial .grid-wrapper .data-wrapper span:last-child{
    color: var(--text-hover-color);
        font-size: 21px;
    line-height: 32px;
        font-family: "Geist Sans";
    font-weight: 400;
}


section.frontier{
    padding: 162px 30px;
}


section.frontier h2{
    margin-bottom: 33.6px;
        font-family: "Geist Sans";
    font-weight: 400;
    font-size:39px;
    line-height: 49px;
    color: var(--text-color);
}



section.frontier .card-wrapper{
    display: flex;
    gap: 10px;
}

section.frontier .card{
    background-color: var(--secondary-color);
    border-radius: 7px;
    padding-top: 23.85px;
    padding-bottom: 26.25px;
    padding-left: 26.25px;
    padding-right: 26.25px;
}

section.frontier .card img{
    padding-top: 26.25px;
    width: 100%
}


section.frontier .card>div:first-child{
    margin-bottom: 58px;

}


section.frontier .card>div:first-child h3{
            font-family: "Geist Sans";
    font-weight: 400;
    font-size:24px;
    line-height: 36px;
    color: var(--text-color);
}

section.frontier .card>div:first-child span{
            font-family: "Geist Sans";
    font-weight: 400;
    font-size:24px;
    line-height: 36px;
    color: var(--text-hover-color);
}

section.frontier .card>span{
                font-family: "Geist Sans";
    font-weight: 400;
    font-size:24px;
    line-height: 36px;
    color: var(--accent);
}


section.frontier .card>span span{
        height: 33px;
    display: inline-block;
    vertical-align: middle;
}

section.frontier .card{
    flex: 1;
}


section.frontier .card>div{
    min-height: 216px;
}


section.logs{
    padding: 100px 30px;
}

section.logs h2{
        margin-bottom: 33.6px;
        font-family: "Geist Sans";
    font-weight: 400;
    font-size:39px;
    line-height: 49px;
    color: var(--text-color);
}


section.logs .grid-wrapper{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 33.6px;
}

section.logs .grid-wrapper>a{
    padding-top: 23.85px;
    padding-bottom: 30px;
    padding-left: 26.25px;
    padding-right: 26.25px;
    background-color: var(--secondary-color);
    flex: 1;
    border-radius: 7px;
     text-decoration: none;
}

section.logs .grid-wrapper>a div{
    display: flex;
    gap: 12.8px;
    justify-content: flex-start;
    align-items: center;
    
}

section.logs .grid-wrapper>a p{
    margin-top: 19.6px;
            font-family: "Geist Sans";
    font-weight: 400;
    font-size:24px;
    line-height: 36px;
    color: var(--text-color);
}


section.logs .grid-wrapper>a:first-child div span:first-child, section.logs .grid-wrapper>a:last-child div span:first-child{
    padding-top: 5.88px;
    padding-bottom: 6px;
    padding-left: 13.65px;
    padding-right: 13.65px;
    border: 1px solid var(--text-hover-color);
                font-family: "Geist Sans";
    font-weight: 400;
    font-size:21px;
    line-height: 21px;
    border-radius: 20px;
    color: var(--text-hover-color);
   
}

section.logs .grid-wrapper>a div span:last-child{
                    font-family: "Geist Sans";
    font-weight: 400;
    font-size:24px;
    line-height: 36px;
    color: var(--text-hover-color);
}

section.logs .container>a:last-child{
                    font-family: "Geist Sans";
    font-weight: 400;
    font-size:24px;
    line-height: 36px;
    color: var(--accent);
  
    text-decoration: none;
}

section.join-us{
    padding: 100px 30px;
}



section.join-us .text .text-para{
    color: var(--text-color) !important;
    margin-bottom: 33.6px !important;
}


section.highlights{
    padding: 160px 20px;
    background-color: var(--secondary-color);
}

section.highlights .container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

section.highlights .container .text-wrapper{
    max-width: 325px;
    width: 100%;
}

section.highlights .container .highlights-content{
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.highlights .container .highlights-content>a{
    padding-top: 13.4px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    /* border: 0.25px solid var(--text-color); */
    border-radius: 5px;
    background-color: #26241E;   
    text-decoration: none;
}

section.highlights .container .highlights-content>a p:first-child{
                        font-family: "Geist Sans";
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
    color: var(--text-color);
  
    text-decoration: none;
}

section.highlights .container .highlights-content>a p:last-child{
                        font-family: "Geist Sans";
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
    color: var(--text-hover-color);
    margin-top: 22.4px;
    text-decoration: none;
}

section.highlights .container .highlights-content>a p:nth-child(2){
                        font-family: "Geist Sans";
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
    color: var(--text-hover-color);

    text-decoration: none;
}

section.highlights .container .highlights-content>div{
    margin-top: 22.4px;
}


section.highlights .container .highlights-content>div a{
    font-family: "Geist Sans";
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
    color: var(--accent);
    text-decoration: none;
}


section.highlights .container h3{
        font-family: "Geist Sans";
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
    color: var(--text-color);
}


section.highlights .container .text-wrapper{
    position: sticky;
    top: 10px;
}

section.try{
    padding: 134.5px 20px;
}

section.try h2{
    text-align: center;
    font-family: "Geist Sans";
    font-weight: 400;
    font-size:72px;
    line-height: 79px;
    color: var(--text-color);
    margin-bottom: 22.4px;
}

section.try .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22.4px;
}

section.try h2{
    text-align: center;
    font-family: "Geist Sans";
    font-weight: 400;
    font-size:72px;
    line-height: 79px;
    color: var(--text-color);
    margin-bottom: 0px;
    letter-spacing: -0.3rem;
}


section.try .container>a{
    padding-top: 12.48px;
    padding-bottom: 12.8px;
    padding-left: 21.6px;
    padding-right: 21.6px;
    background-color: var(--text-color);
    border-radius: 3.40282e38px;
    color: var(--primary-color);
    text-decoration: none;
}


footer{
    background-color: var(--secondary-color);
    padding-top: 67.2px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

footer>.container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}


footer .container{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

footer .footer-links{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

footer .footer-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0;
}

footer .footer-links ul h4{
     font-family: "Geist Sans";
    font-weight: 400;
    font-size:14px;
    line-height: 21px;
    color: var(--text-hover-color);
}


footer .footer-links ul a{
         font-family: "Geist Sans";
    font-weight: 400;
    font-size:14px;
    line-height: 21px;
    color: var(--text-color);
    text-decoration: none;
}

footer .bottom-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .bottom-bar .left{
    display: flex;
    gap: 10px;
}


footer .bottom-bar .left span a{
    vertical-align: text-bottom;
    text-decoration: none;
    color: var(--text-hover-color);
    margin-left: 5px;
    
}


footer .bottom-bar .left span{
     color: var(--text-hover-color);
                             font-family: "Geist Sans";
    font-weight: 400;
    font-size:14px;
    line-height: 21px;
    display: inline-flex;
    align-items: center;
}


footer .right>span {
    background-color: #26241e;
    display: inline-block;
    border-radius: 3.35544e+07px;
    padding: 4px;
    
}

footer .right>span span{
    padding: 5.8px 10.5px;
    /* padding-top: 5.6px; */
    padding-right: 5.5px;
    display: inline-block;
     border-radius: 3.35544e+07px;
}


footer .right>span span:last-child{
    background-color: rgba(128,128,128,0.5);
    
}


footer .right i{
    color: #ffffff;
}




section.testimonial, section.frontier, section.logs, section.join-us {
    padding: 67px 20px !important;
}


